Package: com.xzd.jbrfz-bypass
Name: JBRFZ Bypass
Version: 0.3.31
Architecture: iphoneos-arm64
Description: AppSealing environment compatibility patch for CookieRun: Crumble.
Maintainer: xzd
Author: xzd
Section: Tweaks
Depends: mobilesubstrate
